html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fdf3e5, #2c1009);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-image {
  max-height: 100vh;
  max-width: 100vw;
  width: auto;
  height: auto;
  display: block;
}

/* Przycisk w prawym górnym rogu */
.button-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

/* Przycisk w lewym górnym rogu */
.button-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

/* Wspólny styl dla obu przycisków */
.quiz-button {
  background-color: #3b7d5c;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.quiz-button:hover {
  background-color: #2e614a;
}
